.body {
    
    margin: 0;
}

.flex__example1 {
    height: 100vh; 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.flex__example2 {
    height: 100vh; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
     
}

.heading2 {
    font-size: 25px;
    margin-bottom: 30px;
    margin-left: 300px
    margin-top: 50px;
}

.container1 {
    border: 5px dotted coral;
    
    width: 75%;
    margin-left:10px;
    margin-top: 5px;
    padding: 25px 0;
    
    flex-wrap: wrap;
    background-color: aquamarine;

}


.container2 {
    border: 5px dotted coral;
    
    width: 40%;
    margin-left:0px;
    margin-top: 5px;
    padding: 25px 0;
    
    flex-wrap: wrap;
    background-color: aquamarine;

}

.card__img {
    
    margin-bottom: 0px;
    
    
       
}


.card1 {
    background-color: darkcyan;
    border: 5px solid black;
    
    
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
}

.card2 {
background-color: blue;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 10px;
    min-height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 120px;
}
 

