.body {
    
    margin: 0;
}

.flex__example1 {
    height: 100vh; 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.flex__example2 {
    height: 100vh; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
     
}

.flex__heading {
    font-size: 25px;
    margin-bottom: 30px;
}

.container1 {
    border: 5px dotted coral;
    position: fixed;
    width: 40%;
    margin-left: 5px;
    margin-top: 5px;
    padding: 25px 0;
    
    flex-wrap: wrap;
    background-color: aquamarine;

}


.container2 {
    border: 5px dotted coral;
    position: relative;
    width: 35%;
    min-height: 100%;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;

}

.card__img {
    
    margin-bottom: 0px;
    
    
       
}


.card {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 50px;
    min-height: 60px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
}




